<button class="p-2 m-4 border-2 rounded-lg bg-red-200 hover:bg-green-200"><a href="/create-poll">Create a new poll</a></button>

<h1 class="text-1xl m-2">Welcome back, {{name}}!</h1>

<button class="p-2 m-2 border-2 rounded-lg bg-red-200 hover:bg-green-200" id="logout-button">Logout</button>

<div class="md:container 2xl:w-1/2 xl:w-3/4 p-4 m-8 mx-auto bg-gray-500 md:rounded-3xl">

  {{#if polls.length}}
  <div >
    <h3 class="text-3xl text-center m-2">Your polls</h3>

    {{#each polls as |poll|}}
    <div class="container w-3/4 p-4 m-8 mx-auto bg-gray-400 rounded-3xl">

      <div class="poll-list">
        <h4 class="text-3xl text-center m-2">{{poll.name}}</h4>
        <button class="p-2 m-2 border-2 rounded-lg bg-red-200 hover:bg-green-200"><a href="/response/{{poll.id}}">View poll</a></button>
        <button class="p-2 m-2 border-2 rounded-lg bg-red-200 hover:bg-green-200"><a href="/results/{{poll.id}}">Results</a></button>
        <button class="p-2 m-2 border-2 rounded-lg bg-red-200 hover:bg-green-200" id="delete" data-id="{{poll.id}}">DELETE</button>
      </div>

    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script>