<div class="text-center">
    <h2>{{poll.name}}</h2>
    <div>
        <h3>Please submit your answer below</h3>

            <div >
                <p>{{poll.question.text}}</p>
            </div>

            <div class="response-group">
                <p data-index="1">{{poll.question.response1}}</p>
            </div>

            <div class="response-group">
                <p data-index="2">{{poll.question.response2}}</p>
            </div>

            <div class="response-group">
                <p data-index="3">{{poll.question.response3}}</p>
            </div>

            <div class="response-group">
                <p data-index="4">{{poll.question.response4}}</p>
            </div>

            <div class="response-group">
                <p data-index="5">{{poll.question.response5}}</p>
            </div>

            <div class="response-group">
                <button type="submit" class="btn btn-primary">Submit Answer</button>
            </div>
    </div>
</div>