<h2>Results</h2>

<div>
    <h3>{{pollData.name}}</h3>
    <h4>{{pollData.description}}</h4>
    <p>{{pollData.questions.[0].text}} - Results:</p>

    <p>{{pollData.questions.[0].response1}}: {{countedResults.[0].CountPerIndex}} </p>
    <p>{{pollData.questions.[0].response2}}: {{countedResults.[1].CountPerIndex}} </p>
    <p>{{pollData.questions.[0].response3}}: {{countedResults.[2].CountPerIndex}} </p>
    <p>{{pollData.questions.[0].response4}}: {{countedResults.[3].CountPerIndex}} </p>
    <p>{{pollData.questions.[0].response5}}: {{countedResults.[4].CountPerIndex}} </p>

    <div id="poll-{{id}} column-chart"></div>
    <div id="poll-{{id}} donut-chart"></div>
    <p>Poll created by {{pollData.user.name}} </p>
</div>

<script src="/js/results.js"></script>