<h2>Results</h2>

<div>

    <h3>{{pollData.name}}</h3>
    <h4>{{pollData.description}}</h4>
    {{#each pollData.questions as |poll|}} 
    <p>{{poll.text}} - Results:</p>
    {{#each countedResults as |count|}}
    <p>{{poll.response1}}: {{count.countPerIndex}} </p>

    <p>{{poll.response2}}: {{count.countPerIndex}} </p>

    {{#if poll.response3}}
    <p>{{poll.response3}}: {{count.countPerIndex}} </p>
    {{/if}}

    {{#if poll.response4}}
    <p>{{poll.response4}}: {{count.countPerIndex}} </p>
    {{/if}}

    {{#if poll.response5}}
    <p>{{poll.response5}}: {{count.countPerIndex}} </p>
    {{/if}}
{{/each}} 
{{/each}}


    <div id="poll-{{id}} column-chart"></div>
    <div id="poll-{{id}} donut-chart"></div>
    <p>Poll created by {{pollData.user.name}} </p>
</div>

<script src="/js/results.js"></script>