<h2 class="font-main text-4xl text-center m-8">Results</h2>

<div class="md:container 2xl:w-1/2 xl:w-3/4 p-8 m-8 mx-auto bg-light-2 drop-shadow-sm md:rounded-3xl">

    <h3 class="font-main text-4xl text-center my-4">{{pollData.name}}</h3>

    <h4 class="font-main text-xl text-center my-4">{{pollData.description}}</h4>

    <h3 class="font-main text-2xl text-center my-4 mt-12">{{pollData.questions.[0].text}} -Question Results-</h3>

    <p class="font-main text-xl text-center my-2">{{pollData.questions.[0].response1}}: {{countedResults.[0].CountPerIndex}} </p>

    <p class="font-main text-xl text-center my-2">{{pollData.questions.[0].response2}}: {{countedResults.[1].CountPerIndex}} </p>

    {{#if pollData.questions.[0].response3}}
    <p class="font-main text-xl text-center my-2">{{pollData.questions.[0].response3}}: {{countedResults.[2].CountPerIndex}} </p>
    {{/if}}

    {{#if pollData.questions.[0].response4}}
    <p class="font-main text-xl text-center my-2">{{pollData.questions.[0].response4}}: {{countedResults.[3].CountPerIndex}} </p>
    {{/if}}

    {{#if pollData.questions.[0].response5}}
    <p class="font-main text-xl text-center my-2">{{pollData.questions.[0].response5}}: {{countedResults.[4].CountPerIndex}} </p>
    {{/if}}

    {{!-- charts --}}
    <div id="poll-{{id}} column-chart"></div>
    <div id="poll-{{id}} donut-chart"></div>

    <p class="font-secondary text-end text-lg text-gray-600">Poll created by {{pollData.user.name}} </p>
</div>

<script src="/js/results.js"></script>